<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css">
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <title>Estoque Master</title>
    </head>

    <body>
        <div class="sidebar">
            <h2>Estoque Master</h2>
            <a href="/">Dashboard</a>
            <a href="/categorias">Categorias</a>
            <a href="/produtos">Produtos</a>
            <a href="/graficos">Relatórios/Gráficos</a>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>