<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>Estoque Master</title>
    </head>
    <body>
        <div class="sidebar">
            <h2>CRUD - ESTOQUE</h2>
            <a href="/">Dashboard</a>
            <a href="/categorias">Categorias</a>
            <a href="/produtos">Produtos</a>
            <a href="/graficos">Relatórios/Gráficos</a>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>